/* body {
    background-color: #3f1431e0;
} */

header {
  height: 360px;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bg__img--wrapper {
  position: absolute;
  top: -200px;
  width: 100%;
}

.bg__img {
  width: 100%;
  max-width: 1920px;
  opacity: 0.3;
  z-index: 0;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  /* -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%); */
}

.ResultsTitle__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
  z-index: 10000;
}

.ResultsTitle__content--title {
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 45px;
  max-width: 1000px;
  margin-bottom: 40px;
  color: #fff;
}

.input-wrap {
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.search-wrapper {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 0 20px 0 8px;
  color: #6030b1;
  font-size: 32px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  border-color: transparent;
}

input:focus,
#filter:focus {
  outline: none;
}

.fa-magnifying-glass {
  transition: 300ms all ease;
  font-weight: 700;
}

.fa-magnifying-glass:hover {
  color: #ff328f;
  transform: scale(1.1);
}

/* 

RESULTS SECTION

*/

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  height: 75px;
  margin-bottom: 16px;
  position: relative;
}

#filter {
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #fffbf8;
  background-color: transparent;
}

.sort__option {
  color: #fffbf8;
  background-color: #000000cc;
}

.movies__list--container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding-top: 60px;
  z-index: 50000;
}

.movies__list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.no__results {
  position: absolute;
  width: 300px;
  display: flex;
  justify-content: center;
}

.movie {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.skeleton__card {
  background-color: lightgrey;
  margin: 10px;
  border-radius: 10px;
  width: 224px;
  height: 368px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster__skeleton {
  /* background-color: rgb(153, 153, 153); */
  background: linear-gradient(90deg, #a7a7a794 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  border-radius: 10px;
  width: 210px;
  height: 320px;
  margin: 8px 0 6px 0;
  animation: shimmer 1.5s infinite;
}

.title__skeleton {
  background: transparent;
  width: 100%;
  height: 24px;
  padding-left: 8px;
}

.title__skeleton--para {
  width: 70%;
  height: 18px;
  background: linear-gradient(90deg, #a7a7a794 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

.year__skeleton {
  background: transparent;
  width: 100%;
  height: 24px;
  padding-left: 8px;
  margin-bottom: 2px;
}

.year__skeleton--para {
  width: 40%;
  height: 18px;
  background: linear-gradient(90deg, #a7a7a794 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  padding-left: 20px;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.loading__spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.fa-spinner {
  font-size: 70px;
  color: #fffbf8;
  z-index: 300000;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* responsivness */

@media (max-width: 1300px) {
  .bg__img--wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  .bg__img {
    width: auto;
  }
}

@media (max-width: 768px) {
  .nav__link--list {
    max-width: 380px;
  }

  .ResultsTitle__content--title {
    font-size: 36px;
  }

  .input-wrap {
    max-width: 500px;
  }

  .bg__img--wrapper {
    overflow: hidden;
  }
}

@media (max-width: 580px) {
  .bg__img--wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  .bg__img {
    width: auto;
  }

  li {
    font-size: 16px;
  }

  .nav__link--list {
    max-width: 320px;
  }

  .btn__contact {
    padding: 12px 20px;
  }

  .ResultsTitle__content--title {
    font-size: 28px;
  }

  .input-wrap {
    max-width: 300px;
  }

  input::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .home {
    display: none;
  }

  .bg__img--wrapper {
    top: 0px;
  }
}
