.movie {
  width: 25%;
  min-width: 234px;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.movie__card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  border-radius: 10px;
  width: 224px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor: pointer;
}


.movie__poster--wrapper {
    position: relative;
}

.poster__wrapper--after {
    position: absolute;
    content: "";
    background-color: rgb(91, 69, 110);
    opacity: 0.8;
    width: 100%;
    height: 319.91px;
    top: 0;
    left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 300ms ease;
}

.movie__card:hover .poster__wrapper--after {
    left: 0;
}


.more__info {
    background-color: black;
    padding: 12px;
    border-radius: 40px ;
    color: #fffbf8;
}

.movie__poster {
    width: 100%;
    height: 319.91px;
}

.movie__card:hover {
  box-shadow: 0 8px 16px 0 rgba(480, 186, 186, 0.2);
  transform: scale(1.01);
}

.movie__card__container {
  padding: 2px 16px;
}

.movie__title,
.movie__year {
    font-size: 16px;
    padding: 0 6px;
    line-height: 24px;
    color: black;
}

@media (max-width: 1100px) {
    
    .movie {
        width: calc(100% / 3);
    }
}

@media (max-width: 768px) {
    .movie {
        width: 50%;
    }
  }

@media (max-width: 580px) {
  .movie {
        width: 100%;
    }
}
