nav {
width: 100%;
margin: 0 auto;
max-width: 1200px;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 10000;
}

.amit__logo--wrapper {
display: flex;
align-items: center;
}

.amit__logo {
width: 60px;    
height: 40px;
filter: invert(1);
opacity: 0.8;
}

.nav__link--list {
display: flex;
width: 100%;
max-width: 430px;
justify-content: space-between;
align-items: center;
}

.nav__link {
position: relative;
}

.link__hover-effect:after {
position: absolute;
content: "";
background-color: #fff;
height: 3px;
width: 0%;
bottom: -3px;
right: 0;
opacity: 1;
transition: all 300ms ease;
}

.link__hover-effect:hover:after {
width: 100%;
left: 0;
}

.nav__link--anchor {
color: #fff;
}

.btn__contact {
display: flex;
cursor: not-allowed;
max-height: 48px;
min-height: 48px;
padding: 12px 40px;
align-items: center;
border: 2px #5d3eff;
border-radius: 50px;
background-color: #fff;
color: #6030b1;;
font-size: 14px;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
transition: all 400ms ease;
}

.btn__contact:hover {
background-color: #ff328f;
color: #fff;
}